@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background: #eaeeff;
  overflow-x: hidden;
  max-width: 1800px;
  margin: 0 auto;
}

/* responsive body for large screens */
@media (min-width: 1024px) {
  body{
    background: #eaeeff;
    overflow-x: hidden;
    max-width: 80%;
    margin: 0 auto;
  }
}


/* iframe .formFooter */
iframe .formFooter{
  display: none;
}

.animate-fade-in{
  animation: fadeIn 0.2s ease-in-out;
  position: relative;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}